/***********************************************
************************************************
	wild-development.com contact stylesheet
************************************************
***********************************************/


/************************
  		universal
*************************/
.clear { clear: both; }
fieldset { border: none; }
input, textarea, a { outline: none; }

/************************
  	  form styling
*************************/
#formArea {
	width: 292px;
	background-color: rgba(251, 171, 198, 0.25);
	color: #680900;
	padding: 0;
	margin: 0;
	border: 4px solid #000;
}

.hasFocus {
	background-color: rgba(251, 171, 198, 0.5);
}

label {
	font-size: 22px;
	line-height: 20px;
}

input {
	width: 100%;
	font-size: 18px;
	line-height: 18px;
	margin: 10px 0;
	padding: 0;
}

textarea {
	width: 100%;
	font-size: 18px;
	line-height: 18px;
	margin: 10px 0;
	padding: 0;
}

#submitForm {
	width: 75px;
	height: 75px;
	margin: 20px auto;
}