#footerContainer {
	color: #fff;
	width: 1000px;
	min-height: 300px;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	font-size: 16px;
}

#footerContainer a {
	color: #fff;
	text-decoration: none;
}

#footerContainer h3 {
	max-width: 50%;
	margin: 0;
	padding: 10px 0 0 0;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

#footerContainer p {
	float: left;
	font-size: 12px;
	margin: 20px 0;
	padding: 0 5px 0 0;
}

.footerList {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footerList li {
	margin: 0;
	padding: 10px 0 0 0;
}

#portfolioLinks {
	float: left;
	margin: 0;
	padding: 20px 28px 20px 0;
}

#moreInfo {
	float: left;
	margin: 0 10px 0 0;
	padding: 20px 28px;
	clear: right;
}

#associatonsLinks {
	float: left;
	margin: 0 10px 0 0;
	padding: 20px 28px;
}

#pagesLinks {
	float: left;
	margin: 0 10px 0 0;
	padding: 20px 0 20px 28px;
}

#mattEmcee {
	float: right;
	clear: right;
}

#mattEmcee img {
	float: left;
}

#copyright {
	float: left;
	clear: left;
}
