.vimeoThumb {
	float: left;
}



/* - - - - - - - - - - - - - - - - - - - - -
		Gallery Container
 - - - - - - - - - - - - - - - - - - - - - - */
#flickr h3 {
	width: 329px;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	margin: 0;
	padding: 0 0 5px 0;
}

.flickrGalleryCntr {
	
	position: relative;
	width: 660px;
	background-color: inherit;
	margin: 0;
	padding: 0;
	border: 1px solid #333;
}

.flickrGalleryCntr img {
	border: none;
}

/* - - - - - - - - - - - - - - - - - - - - -
		album containers
 - - - - - - - - - - - - - - - - - - - - - - */
.flickrGalleryAlbum {
	background-color: rgba(130, 166, 0, 0.40);
	height: 140px;
	float: left;
	padding: 10px 0 20px 0;
}

.flickrGalleryAlbum:nth-child(1) {
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
}

.flickrGalleryAlbum:nth-child(2) {
	border-bottom: 1px solid #333;
}

.flickrGalleryAlbum:nth-child(3) {
	border-right: 1px solid #333;
}

.flickrGalleryAlbum:nth-child(5) {
	border-top: 1px solid #333;
	border-right: 1px solid #333;
}

.flickrGalleryAlbum:nth-child(6) {
	border-top: 1px solid #333;
}

.flickrGalleryAlbum:hover {
	background-color: rgba(130, 166, 0, 1);
}

.flickrGalleryAlbum img {
	width: 100px;
	height: auto;
	float: left;
	margin: 0 0 0 100px;
}

/* - - - - - - - - - - - - - - - - - - - - -
		Images Container
 - - - - - - - - - - - - - - - - - - - - - - */
.flickrGalleryImages {
	background-color: #000;
	width: 660px;
	height: 700px;
}
.flickrGalleryImageView {
	padding: 100px 0 75px 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.flickrGalleryImageView img {
	display: inline;
	margin: auto;
}

/* - - - - - - - - - - - - - - - - - - - - -
		Image Navigation buttons
 - - - - - - - - - - - - - - - - - - - - - - */
.flickrGalleryImageMenu {
	width: inherit;
	height: 26px;
	position: inherit;
	left: 0px;
	opacity: 0.5;
	filter: alpha(opacity=40);
	background-color: #82a600;
}
.flickrGalleryImageMenuHover {
	background-color: #82a600;
	opacity: .90;
	filter: alpha(opacity=90);
}

.flickrGalleryImageMenu a {
	text-decoration: none;
	color: #ffffff;
	width: 100%;
}
.flickrGalleryImageMenuButtons {
	color: #ffffff;
}
.flickrGalleryImageMenuButtons a {
	padding: 0 10px;
}
.flickrGalleryImageMenuButtons a:hover {
	background-color: #000;
	opacity: 1;
	filter: alpha(opacity=100);
	color: #ffffff;
}

/* - - - - - - - - - - - - - - - - - - - - -
		Thumbnails images
 - - - - - - - - - - - - - - - - - - - - - - */
.flickrGalleryImageThumbs {
	background: #000;
	padding: 2px;
	height: 200px;
	overflow: auto;
}
.flickrGalleryImageThumbs ul {
	list-style: none;
}
.flickrGalleryImageThumbs li {
	float: left;
	list-style-image: none;
	list-style-position: inside;
	list-style-type: none;
	display: block;
	height: 75px;
	width: 75px;
	overflow: hidden;
	padding: 5px;
}

/* - - - - - - - - - - - - - - - - - - - - -
		Loading Message Container
 - - - - - - - - - - - - - - - - - - - - - - */
.flickrGalleryLoading {
	position: absolute;
	text-align: center;
	vertical-align: middle;
	/* z-index: 11; */
	width: 90%;
	height: 90%;
	opacity: .90;
	filter: alpha(opacity=90);
	color: #ffffff;
	margin: auto;
	margin-top: 30%;
	font-size: large;
	font-weight: 900;
	display: block;
}
