/***********************************************
************************************************
	wild-development.com header stylesheet
************************************************
***********************************************/



/************************
  social network icons
*************************/
#socialNetBar {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	width: 1000px;
	height: 40px;
	top: 0;
	border-radius: 5px;
	z-index: 1000;
}

ul.social {
	list-style-type: none;
	margin: 0 0 0 100px;
	padding: 0;
}

.social li {
	width: 60px;
	float: left;
	padding: 5px 15px 1px 0;
}

.social img{
	width: 34px;
	height: 34px;
}

.social a {
	color: rgba(255, 255, 255, 0);
}

.social img:hover {
	width: 54px;
	height: 54px;
}

/************************
  rolling slide show
*************************/
.gallery{
  position: relative;
  background-color: #82a600;
  margin: 0;
  padding: 0;
  height: 200px;
  width: 1000px;
}

.galleryBar {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0 7px;
  display:none;
}

.galleryBar li {
  position: relative;
  margin: 0 7px 0 0;
  padding: 0;
  overflow: hidden;
  float: left;
  list-style: none;
}

.galleryScreen, .galleryInfo {
  position: absolute;
}

.galleryScreen {
 background-color: #222;
}

.galleryInfo {
 background-color: transparent;
 color: #fff;
 padding: 12px;
}

.galleryTitle {
 font-size: 135%;
 font-weight: bold;
}

/************************
  logo and tag lines
*************************/
#logo {
	position: relative;
	margin: -10px auto 0 412px;
	padding: 0;
	opacity: .8;
	z-index: 900;
}

#slogan {
	background-color: #82a600;
	width: 1000px;
	height: 80px;
	margin: 0;
	padding: 0;
}

#slogan h2 {
	width: 1000px;
	font-size: 29px;
	padding: 0;
	margin: 0;
	z-index: 1000;
}

#logoTextLeft {
	float: left;
	margin: 0 0 0 50px;
}

#logoTextRight {
	float: right;
	margin: 25px 70px 0 0;
}

/************************
  site navigation menu
*************************/
ul.menu {
	background-color: #000;
	color: #fff;
	width: 1000px;
	height: 40px;
	float: left;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
}

.menu li {
	min-width: 58px;
	padding: 10px 31px;
	margin: 0;
	float: left;
	list-style-type: none;
}

.menu li:hover {
	background-color: rgba(129, 166, 0, 0.5);
	cursor: pointer;
}

.menu a {
	color: #fff;
	text-decoration: none;
}