/************************************************
*************************************************
	wild-development.com universal stylesheet
*************************************************
*************************************************/


/************************
  site-wide universals
*************************/
* {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #983050;
	border: none;
}

.noPadding {
	padding: 0;
	margin: 0;
}

.centerText {
	text-align: center;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

/************************
  universal containers
*************************/
#container {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	text-align: justify;
}

#header {
	float: left;
	clear: both;
}

#mainContent {
	color: #680900;
	width: 660px;
	margin: 0;
	float: left;
}

#footer {
	display: inline-block;
	background-color: #000;
	width: 100%;
	min-height: 300px;
	margin: 80px 0 0;
	padding: 0;
	border-top: 8px ridge rgba(129, 166, 0, 0.25);
	-moz-box-shadow: 0 -5px 20px #82a600;
	-webkit-box-shadow: 0 -5px 20px #82a600;
	box-shadow: 0 -5px 20px #82a600;
}

#twitterFeed {
	width: 292px;
	max-height: 500px;
	margin: 0 0 0 40px;
	padding: 0;
	float: left;
}

#contactForm {
	width: 292px;
	margin: 0 0 0 40px;
	padding: 0;
	float: left;
}

#landingVideo {
	width: 660px;
	margin: 20px 0 0 0;
	padding: 0;
	float: left;
}

.pageNavigation {
	float: left;
	width: 100%;
	height: auto;
	margin: 0 0 20px 0;
	padding: 0;
	list-style-type: none;
	border-top: 2px solid #680900;
}

.pageNavigation li {
	float: left;
	padding: 5px 10px;
	margin: 0;
}

/************************
  universal containers
*************************/
.maryWild {
	float: left;
}

