/************************************************
*************************************************
	wild-development.com twitter stylesheet
*************************************************
*************************************************/



#jstwitter {
	width: 292px;
	background-color: rgba(251, 171, 198, 0.25);
	color: #680900;
	font-size: 15px;
	border: 4px solid #000;
}

#jstwitter div.twitterHeader {
	background-color: rgba(251, 171, 198, 0.5);
	width: 292px;
	height: 100px;
	padding: 0;
	margin: 0 0 15px 0;
}

#jstwitter a {
	text-decoration: none;
}

#jstwitter .tweet {
	margin: 0 auto 15px auto;
	padding: 0 5px 15px 5px;
	border-bottom: 1px dotted #ccc;
	word-break: break-all;
}

#jstwitter .tweet a {
	text-decoration: none;
	color: #983050;
}

#jstwitter .tweet a:hover {
	text-decoration: underline;
}

#jstwitter .tweet .time {
	font-size: 10px;
	font-style: italic;
	color: #666666;
}